/* CSS Animations */
@keyframes blinking {
    0%, 100%{
        opacity: .5;
    }
    50% {
        opacity: 1;
    }  
}

@keyframes amplify {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

@keyframes pulse {
    0%, 100%{
        color: yellow;
        transform: scale(1);
    }
    50%{
        color: red;
        transform: scale(.99);
    }
    
}

@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

*{
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Background_Overlay */
.Background_Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* This puts a dark opacity over the background of 0.3 */
    background-color: rgba(0, 0, 0, 0.3);
}

.Background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/************************* CSS For NavBar *************************************/
.NavBar {
    /* Make sure NavBar is always on top */
    display: flex;
    position: absolute;
    width: 94%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    /* Leave spaces around the NavBar */
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    /* Create a dark transparent background */
    background-color: rgba(0, 0, 0, 0.3);
    /* Make sure it is always in front of other content */
    z-index: 1;
}

.NavBar_Links {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.NavBar_Links button{
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    color: aquamarine;
    background: none;
    border: hidden;
    cursor: pointer;
    transition: ease-out 1s;
}

@media only screen and (max-height:800px) {
    .NavBar_Links button {
        font-size: 1em;
    }
}

.NavBar_Links button:hover{
    color: greenyellow;
    transform: scale(1.2);
    transition: ease-in 1s;
}

.Logo_Container {
    display: flex;
    width: 20%;
    height: 90%;
    justify-content: space-between;
}

.Logo_Container a{
    display: flex;
    height: 100%;
}

.Logo_Container a img{
    animation: rotating 5s infinite;
}

/************************* CSS For Homepage *************************************/

.Homepage {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.Homepage_Content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: gold;
    text-align: center;
    user-select: none;
    animation: blinking 1.5s infinite;
}

/************************* CSS For Projects *************************************/

.Projects {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.Project_Links {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10%;
    width: 15vw;
    height: 90vh;
    margin-left: 1%;
}

.Project_Links a{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-decoration: none;
}

.Project_Links button{
    background: none;
    border: none;
    font-size: 2rem;
    width: 90%;
    height: 8vh;
    color:#82FF9E;
    cursor: pointer;
}

.Project_Links button:hover{
    color: red;
    animation: pulse 2s infinite;
}

.Project_Info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 25vw;
    width: 70vw;
}

.Project_Info h1{
    color: lawngreen;
    font-size: 5em;
    margin-bottom: 2%;
}

.Info_Container{
    display: flex;
    color: beige;
}

.Technology_Used{
    width: 20vw;
    height: 60vh;
}

.Technology_Used h2{
    margin-bottom: 5%;
    font-size: 3em;
}

.Project_Techs li{
    display: flex;
    list-style: none;
    margin-bottom: 3%;
    align-items: center;
    font-size: 1.5em;
}

.Project_Techs li img{
    margin-left: 5%;
}

.Project_Description{
    width: 50vw;
    height: 60vh;
}

.Project_Description h2{
    margin-bottom: 5%;
    font-size: 3em;
}

.Project_Description p{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.Project_Description p a{
    margin-top: 5%;
    color: #E5ECE9;
}

@media screen and (max-width: 1500px) {
    .Project_Links button{
        font-size: 1.25em;
    }

    .Project_Info h1{
        font-size: 3em;
    }

    .Technology_Used h2{
        font-size: 2em;
    }

    .Project_Description{
        margin-left: 10%;
    }

    .Project_Description h2{
        font-size: 2em;
    }
}
/************************* CSS For Journey *************************************/

.Journey {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    user-select: none;
}

.Timeline {
    display: flex;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
}

.Timeline p{
    font-size: 1.3em;
}

/************************* CSS For Resume *************************************/
.Resume{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    user-select: none;
}

.Resume_Img {
    display: flex;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    justify-content: center;
}

.Resume_Img img{
    height: 95%;
}

.Download_Resume {
    display: flex;
    position: absolute;
    top: 88.5vh;
    left: 70vw;
    width: 7vw;
    height: 7vh;
}

.Download_Resume img{
    background-color: #82FF9E;
    width: 50%;
    height: 100%;
}