/* CSS Animations */
@keyframes blinking {
    0%, 100%{
        opacity: .5;
    }
    50% {
        opacity: 1;
    }  
}

@keyframes pulse {
    0%, 100%{
        color: yellow;
        transform: scale(1);
    }
    50%{
        color: red;
        transform: scale(.99);
    } 
}

@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

*{
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Background_Overlay */
.Background_Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* This puts a dark opacity over the background of 0.3 */
    background-color: rgba(0, 0, 0, 0.3);
}

.Background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 24%;
}

/************************* CSS For NavBar *************************************/
.NavBar {
    /* Make sure NavBar is always on top */
    display: flex;
    position: absolute;
    width: 98%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    /* Leave spaces around the NavBar */
    margin: 1%;
    /* Create a dark transparent background */
    background-color: rgba(0, 0, 0, 0.3);
    /* Make sure it is always in front of other content */
    z-index: 10;
}

.NavBar_Toggle{
    width: 100%;
    height: 100%;
    margin-left: 10%;
    background-color: transparent;
    border: none;
}

.NavBar_Links{
    height: 100%;
    width: auto;
}

.NavBar_Links button:hover{
    color: greenyellow;
    transform: scale(1.2);
    transition: ease-in 1s;
    cursor: pointer;
}

.NavBar_Toggle img{
    width: 100%;
    height: 100%; 
}

.linkContainer {
    display: none;
}

.linkContainerOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: green;
}

.linkContainerOpen button{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #FFC0CB;
}

.Logo_Container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.Logo_Container a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Logo_Container img{
    width: 100%;
    max-height: 100%;
}

.Logo_Container a img{
    animation: rotating 5s infinite;
}

@media (min-width: 768px) {

    .NavBar_Links{
        display: flex;
        width: 70%;
    }

    .NavBar_Toggle{
        display: none;
    }

    .linkContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .linkContainer button{
        background-color: transparent;
        border: none;
        color: #FFC0CB;
        font-size: 1.4em;
    }

    .Logo_Container {
        width: 20%;
        justify-content: flex-end;
        gap: 5%;
        margin-right: 1%;
    }

    .Logo_Container a{
        height: 100%;
    }

    .Logo_Container img{
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .linkContainer{
        margin-left: 5%;
    }
}

@media (min-width: 1440px) {
    .NavBar{
        height: 7%;
    }

    .linkContainer button{
        font-size: 2.5em;
    }

    .Logo_Container a{
        height: 100%;
    }

    .Logo_Container img{
        height: 80%;
    }
}

@media (min-width: 2560px) {
    .NavBar{
        height: 10%;
    }

    .linkContainer button{
        font-size: 3em;
    }
}
/************************* CSS For Homepage *************************************/
.Homepage {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.Homepage_Content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    color: gold;
    animation: blinking 1.5s infinite;
}

@media (min-width: 768px) {
    .Homepage_Content{
        font-size: 3em;
    }
}

@media (min-width: 1440px) {
    .Homepage_Content{
        font-size: 5em;
    }
}

/************************* CSS For Projects *************************************/

.Projects {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.Project_Links {
    display: flex;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    justify-content: center;
}

.Project_Toggle{
    position: absolute;
    top: 2%;
    background-color: transparent;
    border: none;
    color: #82FF9E;
    font-size: 1.2em;
    cursor: pointer;
}

.projectContainer{
    display: none;
}

.projectContainerOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    align-items: center;
}

.projectContainerOpen a{
    width: 100%;
    height: 50%;
}

.projectContainerOpen a button{
    color: #82FF9E;
    background-color: transparent;
    border: none;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
}

.projectContainerOpen a button:hover{
    color: pink;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.Project_Info{
    display: flex;
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100vw;
    height: 70vh;
}

.Project_Info h2{
    font-size: 1em;
    margin-bottom: 5%;
    color: azure;
}

.Technology_Used{
    width: 50%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    color: azure;
}

.Project_Description{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    color: azure;
    display: flex;
    flex-direction: column;
}

.Project_Techs {
    font-size: .7em;
    list-style: none;
    height: 90%;
}

.Project_Techs li{
    margin-top: 7%;
}

.Project_Techs img{
    height: 10px;
}

.Project_Description a{
    margin-top: 10%;
    color: azure;
}

@media (min-width:768px){
    .Project_Toggle{
        font-size: 2.5em;
    }

    .projectContainerOpen button{
        font-size: 1.5em;
    }

    .Project_Info h2{
        font-size: 1.5em;
    }

    .Project_Techs{
        font-size: 1em;
    }

    .Project_Techs img{
        height: 30px;
    }

    .Project_Description p{
        font-size: 1.5em;
    }

    .Project_Description a{
        font-size: 1.5em;
    }
}

@media (min-width:1440px){
    .Project_Toggle{
        margin-top: 1%;
        font-size: 3em;
    }

    .Project_Info h2{
        font-size: 2.5em;
    }

    .Project_Techs{
        font-size: 2em;
    }

    .Project_Techs li{
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .Project_Techs img{
        height: 30px;
    }

    .Project_Description p{
        font-size: 2em;
    }

    .Project_Description a{
        font-size: 2em;
    }
}

/************************* CSS For Journey *************************************/

.Journey {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    user-select: none;
}

.Timeline {
    display: flex;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
}

.Timeline p{
    font-size: 1.3em;
}

/************************* CSS For Resume *************************************/
.Resume{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    user-select: none;
}

.Resume_Content{
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.Resume_Img{
    display: none;
}

.Download_Resume{
    height: 50%;
    width: 50%;
    background-color: greenyellow;
    margin-bottom: 3%;
}

.Download_Resume img{
    height: 100%;
    width: 100%;
}

@media (min-width:768px) {

    .Resume_Img{
        display: flex;
        height: 100%;
        margin-bottom: 3%;
    }

    .Resume_Img img{
        height: 100%;
        margin-bottom: 3%;
    }

    .Download_Resume{
        height: 10%;
        width: 10%;
    }
    
}